## 1. Create Python class named `Student` and display its type

In [8]:
class Student:
    pass
v=Student()
print(type(v))

<class '__main__.Student'>

<class 'type'>

## 2. How to call a variable and function by creating a simple class

In [9]:
class Dog:
    a="this a variable"
    def alpha():
        print("i am from functions this is varaible")

In [10]:
var1=Dog
print(var1.a)
var1.alpha()

this a variable
i am from functions this is varaible

In [ ]:
This is Variable1
I'm from function This is Variable1

## 3. Create a class with one `static variable` and two `instace variables`

In [27]:
class Demo:
    alpha="I am Static variable"
    def __init__(self,instance_var1,instance_var2):
        self.instance_var1=instance_var1
        self.instance_var2=instance_var2
    def run(self):
        print(self.instance_var1)

In [30]:
beta=Demo
print(Demo.alpha)
alpha=Demo("variable1","varaible2")
print(alpha.instance_var1)
print(alpha.instance_var2)

I am Static variable
variable1
varaible2

In [11]:
class Demo():
#CODE HERE

I am Static variable
instance_var1
instance_var2

## 4. Create a `Vehicle` class with max_speed and mileage instance attributes

In [32]:
class Vehile:
    def __init__(self,max_speed,mileage):
        self.max=max_speed
        self.mil=mileage

In [36]:
moto=Vehile(240,18)
print(moto.max,moto.mil)

240 18

In [ ]:
class Vehicle:
    #CODE HERE

240 18

## 5. Create a simple class `Person` with constructer and one argument `name`

In [39]:
class Person:
    def __init__(self,name):
        self.name=name
    def say_hi(self):
        return "Hello, my name is {}".format(self.name)

In [40]:
p=Person("Ram")
p.say_hi()

'Hello, my name is Ram'

In [ ]:
# A Sample class with init method
class Person:
   
    #CODE HERE
   
p = Person('Ram')
p.say_hi()

Hello, my name is Ram

## 6. Create a class for `Students` information like `name, rollno, marks` and `school name` with static variable.
- create a function for displaying student information
- create one more function for getting students marks and percentage

In [ ]:
class Student:
    # CODE HERE

Name: abc, RollNo: 1, Marks: 399, College: DIT
Dictionary :  {'name': 'abc', 'rno': 1, 'marks': 399}
percentahe of 399 out of 500 is :  79.80000000000001

In [40]:
class Student:
    def __init__(self,name,roll_no,marks,college):
        self.name=name
        self.roll_no=roll_no
        self.marks=marks
        self.college=college
    def dict(self):
        dict={"name":self.name,"roll_no":self.roll_no,"marks":self.marks,"college":self.college}
        return dict
    def percent(self):
        print("percentage of",self.marks,"out of 500 {}".format((self.marks/500)*100))

In [48]:
bio=Student("salvapathi","16R81A0113",399,"sscet")
print(bio.name,bio.roll_no,bio.marks,bio.college)
print(bio.dict())
bio.percent()

salvapathi 16R81A0113 399 sscet
{'name': 'salvapathi', 'roll_no': '16R81A0113', 'marks': 399, 'college': 'sscet'}
percentage of 399 out of 500 79.80000000000001

## 7. Create a child class `Bus` that will inherit all of the variables and methods of the `Vehicle` class

In [61]:
class Vehicle:
    def __init__(self,vehicle_name,speed,milage):
        self.vehicle_name=vehicle_name
        self.speed=speed
        self.milage=milage
        
class Bus(Vehicle):
    def car(self):
        print("Vehicle Name {} speed {} mileage {}".format(self.vehicle_name,self.speed,self.milage))

In [65]:
data=Bus("school_bus",45,180)
data.car()
#print(data.vehicle_name,data.speed,data.mileage)

Vehicle Name school_bus speed 45 mileage 180

In [ ]:
class Vehicle:

    #CODE

Vehicle Name: School Bus Speed: 180 Mileage: 12

## 8. Create a class `Employee` with two arguments `name and salary`
- create a function which displays the employee information
- Print total number of employees

In [11]:
class Employee:
    employee_number=0
    def __init__(self,name,salary):
       
        self.name=name
        self.salary=salary
        Employee.employee_number+=1
    def fun(self):
        print("name : {},salary : {} ".format(self.name,self.salary))

In [12]:
w=Employee("rahul",3200)
w.fun()
p=Employee("arjun reddy",65000)
p.fun()
print("total employee",Employee.employee_number)

name : rahul,salary : 3200
name : arjun reddy,salary : 65000
total employee 2

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2